includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
    excludePaths:
        - bootstrap/cache/*
        - storage/*
        - vendor/*
    ignoreErrors: []
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
